{% extends 'base.html' %}

<script>
{% block jquery %}
// Lisame endpoint'i, kus on andmed JSON'i kujul
var endpoint = '/api/data'

// Defineerime kaks muutujat andmete jaoks, üks nimede array ja teine häälte arvu array
var nimed = []
var h22lteArv = []

// Pärime AJAX'iga andmed
$.ajax({
    method: "GET",
    url: endpoint,
    // Kui päring edukas, siis map'ime andmed. Nimed = inimese_nimi ja h22lteArv = h22lte_arv
    success: function (data) {
        nimed = data.map(function(item) {
            return item.inimese_nimi;
        });
        h22lteArv = data.map(function(item) {
            return item.h22lte_arv;
        });
        // Kutsume välja graafiku tegemise funktsiooni
        setChart()
    },
    // Kui päring ebaõnnestub, siis logime konsooli error'i
    error: function (error_data) {
        console.log("error")
        console.log(error_data)
    }
});

//Graafiku tegemise funktsioon
function setChart() {
    var ctx = document.getElementById("myChart");
    new Chart(ctx, {
    type: 'bar',
    data: {
        labels: nimed,
        datasets: [{
            label: 'Hääled',
            data: h22lteArv,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}
// Lisa hääl nupu vajutamisel kutsub see välja views.py'st h22leta funktsiooni vastava inimese id'ga, kellele hääl lisada ja värskendab lehte
$('.btn-mini.btn-primary.c').click(function(){
    var inimeseid;
    inimeseid = $(this).attr("data-inimeseid");
    $.get('/'+inimeseid+'/haaleta', function(){
        location.reload();
    });
});

{% endblock %}
</script>

{% block content %}
<!-- Selles div'is on meie eelnev andmebaasist päritud andmete tabel -->
<div class='row'>
    <div class='.col-sm-6'>
        <h1>Hääled</h1>
        <table border="1">
            <tr>
                <th>Nimi</th>
                <th>Häälte arv</th>
            </tr>

            {% for item in h22led %}
            <tr>
                <td>{{item.inimese_nimi}}</td>
                <td id="h22led_{{ item.id }}">{{item.h22lte_arv}}</td>
                <!-- Lisa nupp hääle lisamiseks -->
                <td>
                    <button id="lisaH22l" data-inimeseid="{{ item.id }}" class="btn-mini btn-primary c" type="button">Lisa Hääl</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<!-- Selles div'is on samad andmed kuvatud chart.js graafikul -->
<div class='row'>
    <div class='.col-sm-6'>
        <h1>Hääled Graafik</h1>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
</div>

{% endblock %}